#labels {
  margin-top: -25px;
  z-index: 2;
  color: #ffd3f4;
  font-size: 20px;
  text-align: center;

}
#hh {margin-left: 45px;}
#mm {margin-left: 80px;}
#ss {margin-left: 70px;}

#controls {

  text-align: center;
  margin-left:auto;
  margin-right: auto;
}

h1{
  text-align: center;
  background: -webkit-linear-gradient(#ffd3f4, #c190f9, #6423fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 75px;
}



.container2 #timer {
  margin: auto;
  width: 60%;
  border: none;
  border-radius: 15px 50px;
  background-color: #e7e7e7;
  opacity: 0.4;
  filter: alpha(opacity=50);
  padding: 10px;
  text-align: center;
  font-size: 150px;
}


.container3 {
  margin: auto;
  width: 60%;
  border: none;
  padding: 10px;
}

img {
   display:block;
   margin:auto;
}


button {
  background-color: #ffd3f4;
  border: none;
  border-radius: 50%;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: gumball;
}

div {
   font-family: gumball;
}


body {

  background-image: url("images/space.jpg");
}

@font-face {
    font-family: gumball;
    src: url("font/The Amazing World of Gumball.ttf");
}
